.editableSubject{
  .ms-TextField-fieldGroup {
    min-height: 40px;
  }
}

.editableContent {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #c8c8c8;
}

input.ms-TextField-field,
input.ms-TextField-field:disabled {
  background: #fff;
  color: #333;
  min-height: 40px;
  padding: 0 10px;
  border: Solid 1px #e1e8ee;
  cursor: text;
  box-shadow: none;
}
