body {
  margin: 30px 20px 40px;
}

.outlook-title {
  text-align: center;
  color: #4d5466;
  font-weight: normal;
}

.outlook-description {
  margin: 0 0 20px 0;
  padding-top: 8px;
  font-family: 'Segoe UI Semilight WestEuropean', 'Segoe UI Semilight', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: 350;
}

.ms-Label {
  font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  box-shadow: none;
  display: block;
  padding: 5px 0;
}

.ms-TextField-description {
  color: #767676;
  font-size: 11px;
  font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  margin-bottom: 8px;
}

.ms-Button {
  border-radius: 0;

  &--default {
    margin-left: 10px;
    border: none;
    background-color: #f4f4f4;
  }
}

.labelIcon {
  padding: 0;
  margin: 0;
  height: fit-content;
  width: fit-content;

  &:hover {
    background: #fff;
    color: #004578;
  }
}