<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}" data-framework="typescript">
    <head>
        <meta charset="UTF-8" />
        <title>Index</title>

        <!-- Office JavaScript API (TODO should we make it AMD?) -->
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js"></script>
        <link
            rel="stylesheet"
            href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css"
        />
        <link type="text/css" rel="stylesheet" href="/portal/skins/6.0.0-M21/eXoSkin/skin/css/Core-min-lt.css" />

        <script th:inline="javascript">
            eXo = {};
            eXo.env = {};
            eXo.env.portal = {};
            eXo.env.app = {};
            eXo.env.app.rest = {};

            // base name
            eXo.env.portal.context = [[${baseName}]];
            eXo.env.app.context = eXo.env.portal.context;

						// current user
            eXo.env.portal.userName = [[${userName}]];
						
	          // command
            eXo.env.app.command = [[${command}]];
            
            // portal rest
            eXo.env.portal.rest = [[${exoRestBaseURL}]];

            // language
            eXo.env.portal.language = [[${language}]];

            // outlook webapp context URL /outlook
            //eXo.env.app.contextURL = [[${contextURL}]];
		        // outlook app base URL /outlook/app
            //eXo.env.app.baseURL = [[${appBaseURL}]];
            // RESTs
            eXo.env.app.rest.user = [[${restUserURL}]];
            //eXo.env.app.rest.space = [[${restSpaceURL}]];
            //eXo.env.app.rest.activity = [[${restActivityURL}]];
            //eXo.env.app.rest.document = [[${restDocumentURL}]];
            //eXo.env.app.rest.mail = [[${restMailURL}]];

            /*// TODO cleanup after applying this in the app scripts
            // example of getting  Outlook Resource Bundle url (use GET request in order to get JSON resource)
            const resourceBundleName = "locale.outlook.Outlook";
            // getting a language of the user TODO
            //const lang = (eXo && eXo.env && eXo.env.portal && eXo.env.portal.language) || "en";
            const url = eXo.env.portal.rest + "/i18n/bundle/" + resourceBundleName + "-" + lang + ".json";
            console.log("url: " + url);
            */
            eXo.env.app.rest.resourcesBundle = eXo.env.portal.rest + '/i18n/bundle';
        </script>
    </head>
    <body>
        <div id="outlook-app"></div>
        <script src="/outlook/js/outlook.bundle.js"></script>
    </body>
</html>
